{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"]
      }
    }]
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["src/classes", "src"],
      "alias": {}
    }]
  ]
}